/*Фон*/
body {
  margin: 0;
  min-height: 100vh;
  position: relative;
}

body::before {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
    text-align: center;
}

/*НАВИГАЦИОННАЯ ПАНЕЛЬ (нач.)*/
.nav_bar {
    position: relative;
    width: 100;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center; 
    background: #577EFF;
    border-radius: 15px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
}

.logo_block{
    margin-right: 5px;
    margin-left: 5px;
    width: 80px;
    height: 80px;
    border-radius: 11px;
    background-size: cover;
    background-color: #C1D0FF;
}

/* Общий стиль для всех кнопок */
.nav-button {
    color: white;
    text-decoration: none;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 30px;
    text-align: center;
    border-radius: 4px;          
    transition: background 0.3s; 
    margin-left: auto;
    margin-right: auto;
}

.nav-button:hover {
    background-color: cornflowerblue;            
}

/*НАВИГАЦИОННАЯ ПАНЕЛЬ (кон.)*/


.main_block{
    box-sizing: border-box;
    display: block;
    text-align: center;
    width: 100;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 20px;
    height: auto;
    background: rgba(255, 255, 255, 0.94);
    border: 1px solid #577EFF;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

.main_text{
    position: relative;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: 400;
    font-size: 25px;
    margin: 20px;
    text-align: center;
    color: #023DFF;
}

.main_img{
    background-position: center;
    background-size:cover;
    position: relative;
    width: 100;
    height: 60vh;
    border-radius: 15px;
    margin-left: 40px;
    margin-right: 40px;
}


/* Страница О нас*/
.about_text{
    position: relative;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: 400;
    font-size: 3vmin;
    margin: 14px;
    text-align: center;
    color: #023DFF;
    
}

/*Страница список туров*/


.filters {
    padding: 10px;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    
}
.filters input {
    padding: 15px 25px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid #577EFF;
    width: 32vw;
    background-color: #DDE5FF;
    font-family: 'Ubuntu Mono', monospace;
}
.filters button {
    padding: 15px 25px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid #577EFF;
    margin: 5px;
    background-color: #DDE5FF;
    cursor: pointer;
    width: 19vw;
    font-family: 'Ubuntu Mono', monospace;
}

.filters button:hover {
    background-color:azure           
}

table {
    width: 100%;
    border-collapse: separate;
    position: relative;
    border-spacing: 0 15px;
    font-size: 22px;
    overflow-y: scroll;
    padding: 19px;
    height: 510px;
    display: block;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #577EFF;
}

td {
    background-color: #c6d3ff;
    border: 1px solid #91a1f8;
    padding: 5px 5px;
    text-align: center;
    border-radius: 10px;
    height: 10px;
    position: relative;
    font-family: 'Ubuntu Mono', monospace;
}

td:nth-child(2){
    width:50vw;
}

td:nth-child(3){
    width:10vw;
}

td:nth-child(4){
    width:20vw;
}

td:nth-child(5){
    width:15vw;
}
.tour-button {
    padding: 12px 30px;
    font-size: 20px;
    border-radius: 10px;
    background-color: cornflowerblue;
    color: white;
    border: 1px solid white;
    cursor: pointer;
}

.tour-button:hover {
    color: black;
    border: 1px solid black;
}

img.flag {
    width: 50px;
    background-size: contain;
    margin: 5px;
}

/* Страница логина/регистрации */

.login_block {
    box-sizing: border-box;
    display: flex;
    justify-items: center;
    width: 40%;
    margin: 25px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255, 255, 255, 0.94);
    border: 1px solid #577EFF;
    border-radius: 15px;
    overflow: hidden;
}

login {
    padding: 20px;
    display: block;
    text-align: center;
}

login input {
    padding: 15px 25px;
    font-size: 20px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #577EFF;
    width: 30vw;
    background-color: #DDE5FF;
    font-family: 'Ubuntu Mono', monospace;
}

login button {
    padding: 15px 25px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid #577EFF;
    margin: 10px;
    margin-bottom: 0px;
    background-color: #DDE5FF;
    width: 30vw;
    font-family: 'Ubuntu Mono', monospace;
}

login button:hover {
    background-color:azure 
}

/* Страница отзывов */

th {
    background-color: #c6d3ff;
    border: 1px solid #91a1f8;
    padding: 10px 10px;
    text-align: center;
    border-radius: 10px;
    height: 10px;
    position: relative;
    font-family: 'Ubuntu Mono', monospace;
}

/* Поддержка */

support {
    padding: 20px;
    display: block;
    border-radius: 10px;
    border: 1px solid #577EFF;
    text-align: center;
    position: relative;
}

support textarea {
    padding: 5px 5px;
    font-size: 20px;
    margin: 5px;
    border-radius: 10px;
    border: 1px solid #577EFF;
    width: 98%;
    height: 12vh;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #DDE5FF;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 18px;
}

support button {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid #577EFF;
    margin: 5px;
    margin-bottom: 0px;
    background-color: #DDE5FF;
    width: auto;
    font-family: 'Ubuntu Mono', monospace;
}